@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
	#pragma warning disable CS8602
	var menuController = (ViewContext.RouteData.Values["controller"] != null) ? ViewContext.RouteData.Values["controller"].ToString() : null;
	var menuAction = (ViewContext.RouteData.Values["action"] != null) ? ViewContext.RouteData.Values["action"].ToString() : null;
	var sidebarMenu = Configuration.GetSection("sidebarMenu").GetChildren().ToArray();
	#pragma warning restore CS8602
}

<!-- BEGIN #sidebar -->
<div id="sidebar" class="app-sidebar @(ViewData["AppSidebarTransparent"] != null ? " app-sidebar-transparent" : "")" @(ViewData["AppSidebarLight"] != null ? "" : " data-bs-theme=dark")>
	<!-- BEGIN scrollbar -->
	<div class="app-sidebar-content" data-scrollbar="true" data-height="100%">
		<!-- BEGIN menu -->
		<div class="menu">
			@if (ViewData["AppSidebarSearch"] == null) {
				<div class="menu-profile">
					<a href="javascript:;" class="menu-profile-link" data-toggle="app-sidebar-profile" data-target="#appSidebarProfileMenu">
						<div class="menu-profile-cover with-shadow"></div>
						<div class="menu-profile-image">
							<img src="/img/user/user-13.jpg" alt="" />
						</div>
						<div class="menu-profile-info">
							<div class="d-flex align-items-center">
								<div class="flex-grow-1">
									Sean Ngu
								</div>
								<div class="menu-caret ms-auto"></div>
							</div>
							<small>Front end developer</small>
						</div>
					</a>
				</div>
				<div id="appSidebarProfileMenu" class="collapse">
					<div class="menu-item pt-5px">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon"><i class="fa fa-cog"></i></div>
							<div class="menu-text">Settings</div>
						</a>
					</div>
					<div class="menu-item">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon"><i class="fa fa-pencil-alt"></i></div>
							<div class="menu-text"> Send Feedback</div>
						</a>
					</div>
					<div class="menu-item pb-5px">
						<a href="javascript:;" class="menu-link">
							<div class="menu-icon"><i class="fa fa-question-circle"></i></div>
							<div class="menu-text"> Helps</div>
						</a>
					</div>
					<div class="menu-divider m-0"></div>
				</div>
			}
			@if (ViewData["AppSidebarSearch"] != null) {
				<div class="menu-search mb-n3">
					<input type="text" class="form-control" placeholder="Sidebar menu filter..." data-sidebar-search="true" />
				</div>
			}
			<div class="menu-header">Navegación</div>
			@foreach (var menu in sidebarMenu) {
				var menuChildren = menu.GetSection("children").GetChildren().ToArray();
				var menuActiveLvl1 = "";
				var menuActiveLvl2 = "";
				var menuActiveLvl3 = "";

				@if (menuChildren.Length > 0) {
					@foreach (var submenu in menuChildren) {
						var menuChildrenLvl1 = submenu.GetSection("children").GetChildren().ToArray();
						@if (menuChildrenLvl1.Length > 0) {
							@foreach (var submenu2 in menuChildrenLvl1) {
								var menuChildrenLvl2 = submenu2.GetSection("children").GetChildren().ToArray();
								@if (menuChildrenLvl2.Length > 0) {
									@foreach (var submenu3 in menuChildrenLvl2) {
										menuActiveLvl3 = (menuAction == submenu3["action"]) ? "active" : menuActiveLvl3;
									}
								} else {
									menuActiveLvl2 = (menuAction == submenu2["action"]) ? "active" : menuActiveLvl2;
								}
							}
						} else {
							menuActiveLvl1 = (menuAction == submenu["action"]) ? "active" : menuActiveLvl1;
						}
					}
				}
				
				<div class="menu-item @((menuController == @menu["controller"] || (menuActiveLvl1 == "active" || menuActiveLvl2 == "active" || menuActiveLvl3 == "active")) ? "active" : "") @(menuChildren.Length > 0 ? "has-sub" : "")">
					@if (menuChildren.Length == 0 && menu["action"] != null && menu["controller"] != null) {
						<a class="menu-link" asp-controller="@menu["controller"]" asp-action="@menu["action"]">
							@if (menu["icon"] != null) { <div class="menu-icon"><i class="@menu["icon"]"></i></div> }
							@if (menu["img"] != null) { <div class="menu-icon-img"><img src="@menu["img"]" alt="" /></div> }
							<div class="menu-text">
								@menu["text"]
								@if (menu["label"] != null) { <span class="menu-label">@menu["label"]</span> }
							</div>
							@if (menu["badge"] != null) { <div class="menu-badge">@menu["badge"]</div> }
						</a>
					} else {
						<a href="javascript:;" class="menu-link">
							@if (menu["icon"] != null) { <div class="menu-icon"><i class="@menu["icon"]"></i></div> }
							@if (menu["img"] != null) { <div class="menu-icon-img"><img src="~@menu["img"]" alt="" /></div> }
							<div class="menu-text">
								@menu["text"]
								@if (menu["label"] != null) { <span class="menu-label">@menu["label"]</span>}
							</div>
							@if (menuChildren.Length > 0) { <div class="menu-caret"></div> }
						</a>
					}
					@if (menuChildren.Length > 0) {
						<div class="menu-submenu">
							@foreach (var submenu in menuChildren) {
								var menuChildrenLvl1 = submenu.GetSection("children").GetChildren().ToArray();
								
								menuActiveLvl2 = "";
								menuActiveLvl3 = "";
								
								@if (menuChildrenLvl1.Length > 0) {
									@foreach (var submenu2 in menuChildrenLvl1) {
										var menuChildrenLvl2 = submenu2.GetSection("children").GetChildren().ToArray();
										@if (menuChildrenLvl2.Length > 0) {
											@foreach (var submenu3 in menuChildrenLvl2) {
												menuActiveLvl3 = (menuAction == submenu3["action"]) ? "active" : menuActiveLvl3;
											}
										} else {
											menuActiveLvl2 = (menuAction == submenu2["action"]) ? "active" : menuActiveLvl2;
										}
									}
								} else {
									menuActiveLvl2 = (menuAction == submenu["action"]) ? "active" : menuActiveLvl2;
								}
								
								<div class="menu-item @((menuAction == @submenu["action"] || (menuActiveLvl2 == "active" || menuActiveLvl3 == "active")) ? "active" : "") @(menuChildrenLvl1.Length > 0 ? "has-sub" : "")">
									@if (menuChildrenLvl1.Length == 0 && submenu["action"] != null && submenu["controller"] != null) {
										<a class="menu-link" asp-controller="@submenu["controller"]" asp-action="@submenu["action"]">
											<div class="menu-text">
												@submenu["text"]
												@if (submenu["highlight"] != null) { <i class="fa fa-paper-plane text-theme"></i> }
											</div>
										</a>
									} else {
										<a class="menu-link" href="javascript:;">
											<div class="menu-text">
												@submenu["text"]
												@if (submenu["highlight"] != null) { <i class="fa fa-paper-plane text-theme"></i> }
											</div>
											@if (menuChildrenLvl1.Length > 0) { <div class="menu-caret"></div>	}
										</a>
									}
									@if (menuChildrenLvl1.Length > 0) {
										<div class="menu-submenu">
											@foreach (var submenu2 in menuChildrenLvl1) {
												var menuChildrenLvl2 = submenu2.GetSection("children").GetChildren().ToArray();
												menuActiveLvl3 = "";
												
												@if (menuChildrenLvl2.Length > 0) {
													@foreach (var submenu3 in menuChildrenLvl2) {
														menuActiveLvl3 = (menuAction == submenu3["action"]) ? "active" : menuActiveLvl3;
													}
												}
												<div class="menu-item @((menuAction == @submenu2["action"] || menuActiveLvl3 == "active") ? "active" : "") @(menuChildrenLvl2.Length > 0 ? "has-sub" : "")">
													@if (menuChildrenLvl2.Length == 0 && submenu2["action"] != null && submenu2["controller"] != null) {
														<a class="menu-link" asp-controller="@submenu2["controller"]" asp-action="@submenu2["action"]">
															<div class="menu-text">
																@submenu2["text"]
																@if (submenu2["highlight"] != null) { <i class="fa fa-paper-plane text-theme"></i> }
															</div>
														</a>
													} else {
														<a class="menu-link" href="javascript:;">
															<div class="menu-text">
																@submenu2["text"]
																@if (submenu2["highlight"] != null) { <i class="fa fa-paper-plane text-theme"></i> }
															</div>
															@if (menuChildrenLvl2.Length > 0) { <div class="menu-caret"></div> }
														</a>
														
														@if (menuChildrenLvl2.Length > 0) {
															<div class="menu-submenu">
																@foreach (var submenu3 in menuChildrenLvl2) {
																	<div class="menu-item @(menuAction == @submenu3["action"] ? "active" : "") @(menuChildrenLvl2.Length > 0 ? "has-sub" : "")">
																		@if (menuChildrenLvl2.Length == 0 && submenu2["action"] != null && submenu3["controller"] != null) {
																			<a class="menu-link" asp-controller="@submenu3["controller"]" asp-action="@submenu3["action"]">
																				<div class="menu-text">
																					@submenu3["text"]
																					@if (submenu3["highlight"] != null) {
																						<i class="fa fa-paper-plane text-primary"></i>
																					}
																				</div>
																			</a>
																		} else {
																			<a class="menu-link" href="javascript:;">
																				<div class="menu-text">
																					@submenu3["text"]
																					@if (submenu3["highlight"] != null) { <i class="fa fa-paper-plane text-primary"></i> }
																				</div>
																			</a>
																		}
																	</div>
																}
															</div>
														}
													}
												</div>
											}
										</div>
									}
								</div>
							}
						</div>
					}
				</div>
			}			
			<div class="menu-item">
				<a class="menu-link" asp-area="Identity" asp-page="/Account/Manage/Index">
					<div class="menu-icon"><i class="fa fa-fingerprint"></i></div>
					<div class="menu-text">ASP Identity Account</div>
				</a>
			</div>
			
			<!-- BEGIN minify-button -->
			<div class="menu-item d-flex">
				<a href="javascript:;" class="app-sidebar-minify-btn ms-auto" data-toggle="app-sidebar-minify"><i class="fa fa-angle-double-left"></i></a>
			</div>
			<!-- END minify-button -->
		</div>
		<!-- END menu -->
	</div>
	<!-- END scrollbar -->
</div>
<div class="app-sidebar-bg" @(ViewData["AppSidebarLight"] != null ? "" : " data-bs-theme=dark")></div>
<div class="app-sidebar-mobile-backdrop"><a href="#" data-dismiss="app-sidebar-mobile" class="stretched-link"></a></div>
<!-- END #sidebar -->